* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

:root {
    --green-color: #104547;
    --sidebar-green: #acbdb6;
    --box-color: #e4e1e1;
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.header {
    text-align: center;
    padding: 40px;
    background-color: var(--green-color);
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}

.container {
    display: flex;
    flex: 1;
}

/* SIDEBAR */

.sidebar {
    width: 450px;
    text-align: center;
    background-color: var(--sidebar-green);
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.sidebar .todo {
    background-color: var(--box-color);
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    /* border-left: 4px solid var(--green-color); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
    cursor: pointer;
}

.sidebar .projects h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.sidebar .projects .project-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

/* CONTENT */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffffa;
    padding: 40px 100px;
}

.content .content-title h2 {
    margin-bottom: 30px;
}

.content .task-list {
    width: 90%;
    margin-bottom: 30px;
}

.content .todo-task {
    height: 60px;
    min-width: 400px;
    padding: 0 20px;
    background-color: var(--box-color);
    border-left: 4px solid var(--green-color);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content .todo-task .left-part {
    display: flex;
    align-items: center;
    gap: 15px;
}

.content .todo-task .right-part {
    display: flex;
    align-items: center;
    gap: 25px;
}

.content .todo-task .right-part .delete-task {
    font-size: 30px;
}

.content .add-task {
    background-color: var(--box-color);
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    /* border-left: 4px solid var(--green-color); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
    cursor: pointer;
}
